body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 422;
  font-style: normal;
  margin: 25px;
  background-color: #ffffff;
  height: 200vh;
  overflow-x: hidden;
}

button {
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: #04040b;
  display: flex;
  justify-content: space-between;
  height: 70px;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.397);
}

.header__left-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 100%;
  padding-left: 20px;
}

.header__right-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;
}

button.btn-primary {
  background-color: #0d0d1e;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  width: 100px;
}

.displayer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f4f4;
  margin-top: 30px;
  border-radius: 5px;
  height: 200px;
  overflow: hidden;
}

.displayer_containers {
  width: 100%;
  padding: 20px;
}

.displayer_containers .img_left {
  width: 500px;
}

.displayer_containers--left {
  min-width: 400px;
}

.displayer_containers--center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.displayer_containers--right {
  display: flex;
  justify-content: right;
  min-width: 400px;
}

input.search-bar {
  display: block;
  color: rgb(34, 34, 34);
  background: linear-gradient(
    142.99deg,
    rgba(217, 217, 217, 0.63) 15.53%,
    rgba(243, 243, 243, 0.63) 88.19%
  );
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0, 0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 50px;
  block-size: 20px;
  margin: 7px auto;
  padding: 18px 15px;
  outline: none;
  text-align: center;
  width: 300px;
  height: 10px;
  transition: 0.5s;
}

input.search-bar:hover {
  width: 240px;
}

input.search-bar:focus {
  width: 280px;
}

.wrapper {
  position: relative;
  top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

/* Card general */

.card {
  width: 350px;
  height: 470px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  overflow: hidden;
  padding: 20px;
  margin-top: 30px;
}

.data-product{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.img-clothes {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-clothes img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card-clothes-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.export-btn {
  width: 12rem;
  height: 3rem;
  background: #282936;
  color: white;
  border-radius: 1.625rem;
  cursor: pointer;
}

.more button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.more-btn {
  width: 12rem;
  height: auto;
}

button.more-btn .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.more-btn .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.more-btn .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.more-btn .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.more-btn .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  text-align: center;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

/* Carrito */

.modal {
  display: none; /* Ocultar modal por defecto */
  position: absolute;
  z-index: 900;
  right: 20px;
  top: 70px;
  padding: 20px;
}

.modal-content {
  background-color: #ffffffed;
  width: 300px;
  height: 500px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.397);
  overflow-y: scroll;
  
}

.modalDetails{
    display: none;
    position: fixed;
    z-index: 1000;
    background-color: #ffffffed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.397);
    overflow-y: hidden;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 20px;
}

.product-image {
    width: 200px;
  height: 200px;
  object-fit: cover;

}

#product-details{
    margin: 10px;
}

.shop-cart {
  width: 100px;
}

.number__cart{
  background-color: rgb(255, 255, 255);
  padding: 4px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: absolute;

}

.btn-buy{
    position: relative;
    top: 30px;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px; 
  }